

/* registration and login */

.login-container
{
    margin-top: 5%;
  
}

.login-form-2
{
     background: #ffff;
	height:400px;
}

.login-form-2 h3
{
    text-align: center;
    color: #cc0000;
}

.login-container form
{
    padding: 10%;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-2 .btnSubmit
{
    font-weight: 600;
    color: #ffff;
    background-color: #cc0000;
}


.login-form-2 .ForgetPwd
{
    color: #cc0000;
    font-weight: 600;
    text-decoration: none;
}

 
 
.login-form-1
{
    padding: 5%;
    background-color:#ffff;
    
}

.login-form-1 h3
{
    text-align: center;
    color: #333;
}

.login-form-1 .btnSubmit
{
    font-weight: 600;
    color: #ffff;
    background-color: #cc0000;
} 
 
.fluid 
{
  position: relative;
  font-family: Arial;
}

.text-block 
{
  position: absolute;
  top: 130px;
  left: 270px;
  font-family: 'Bree Serif', serif;
  color:#fffff;
} 
 

/* registration and login  close*/



*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', arial, sans-serif;
}

ul 
{
	list-style: none;
}

p 
{
	color: #5a5a5a;
	font-size: 13px;
	letter-spacing: 0.25px;
	line-height: 24px;
}

.primary-button a 
{
	display: inline-block;
	background-color: #cc0000;
	padding: 12px 18px;
	color: #fff;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	transition: all 0.5s;
}

.primary-button a:hover 
{
	background-color: #4C0202;
}

.white-button a 
{
	display: inline-block;
	background-color: #ffff;
	padding: 12px 18px;
	color: #121212;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	transition: all 0.5s;
}

.white-button a:hover
 {
	background-color: #121212;
	color: #fff;
}

.section-heading h4 
{
	text-align: center;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 700;
	color: #121212;
}

.section-heading .line-dec 
{
	width: 60px;
	height: 3px;
	background-color: #121212;
	margin: 0 auto;
}

.header
 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 80px;
    background-color:transparent;  
    text-align: center;
    line-height: 40px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a 
{
    text-shadow: none;
}

.navbar-brand
{
	line-height: 80px;
	padding: 0px;
}

.navbar-nav>li>a 
{
	color: #fff!important;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	text-shadow: none;
	line-height: 80px;
	padding: 0px;
	letter-spacing: 0.5px;
}

.navbar-nav>li 
{
	margin-left: 45px;
}

.header.active .navbar-nav>li>a
{
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	text-shadow: none;
	color: #121212!important;
}

.header.active 
{
    background-color: rgba(250, 250, 250, 0.98);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.navbar-brand .logo
{
	margin-top: 22px;
	background-image: url(../img/white_logo.png);
	display: inline-block;
	width: 125px;
	height: 32px;
	background-repeat: no-repeat;
}

.header.active .navbar-brand .logo
{
	margin-top: 22px;
	background-image: url(../img/black_logo.png);
	display: inline-block;
	width: 125px;
	height: 32px;
	background-repeat: no-repeat;
}

#main-nav 
{
	background-color: transparent;
	background-image: none!important;
}

.header .navbar-brand 
{
    font-weight: 900;
}

.navbar-inverse 
{
	background-image: none;
	background-color: transparent;
}

.header .navbar
{
    margin: 0;
    border: none;
}

.page-section 
{
    padding: 80px 0;
}

.navbar-inverse .navbar-toggle 
{
	margin-top: 22px;
    border-color: #a2cf8d;
    background-color: #cc0000;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus 
{
	background-color: #cc0000;
}

bootstrap.min.css:5
.navbar-toggle
{
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px!important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media (min-width: 768px) 
{
    .header .navbar-brand 
     {
        padding-left: 0;
    }
    .navbar-nav {
        float: right;
    }
}

@media (max-width: 480px) 
{
    .page-section h1 {
        font-size: 3em;
    }
    .page-section h2 {
        font-size: 2em;
    }
    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }
}



/* HERO SLIDER */

.slide-caption {
	color: #fff;
}

.slide-caption span {
	font-size: 18px;
	text-transform: uppercase;
}

.slide-caption h2 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 900;
}



.slide-caption h1 {
	font-size: 46px;
	text-transform: uppercase;
	font-weight: 900;
}

.slide-caption p {
	font-size: 13px;
	letter-spacing: 0.25px;
	line-height: 24px;
}

ul.cd-hero-slider {
	margin-bottom: 0px!important;
}

/* WHAT WE DO */

#about {
	background-color: #ffff;
	padding: 80px 0px;
}

#about .section-heading {
	margin-bottom: 60px;
}

.service-item {
	cursor: pointer;
	background-color: #fff;
	text-align: center;
	padding: 30px 20px;
	transition: all 0.7s;
	box-shadow: 0px 0px 15px #cdcdcd;
}

.service-item:hover {
	background-color: #cc0000;
}

.service-item h4 {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
	margin-top: 25px;
}

.service-item:hover h4 {
	color: #fff;
}

.service-item:hover p {
	color: #fff;
}



#what-we-do {
	background-image: url(../img/what-we-do-bg.png);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 80px 0px;
	color: #fff;
}

#what-we-do .right-image img {
	width: 100%;
	overflow: hidden;
}

#what-we-do h4 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 30px;
	margin-bottom: 25px;
}

#what-we-do p {
	margin-bottom: 30px;
	color: #fff;
}

#what-we-do ul li {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
}



/* PORTFOLIO */

#portfolio {
	text-align: center;
}

.projects-holder .mix {
  display: none;
}


.project-item {
	margin-top: 20px;
}

.project-item .thumb {
	position: relative;
	text-align: center;
	display: inline-block;
}

.project-item .thumb img {
	width: 100%;

	overflow: hidden;
}

.project-item .hover-effect {
	position: absolute;
	background-color: #cc0000;
	width: 100%;
height:100%;
	top: 0;
	bottom: 0;
	opacity: .5;
	visibility: hidden;
	transition: all 0.5s;
}

.project-item .hover-effect i {
	text-align: center;
	margin-top: 20%;
	display: inline-block;
	width: 46px;
	height: 46px;
	background-color: #fff;
	line-height: 46px;
	color: #cc0000;
	border-radius: 50%;
	font-size: 18px;
}

.project-item .hover-effect i:hover {
	background-color: #5c9d7d;
	color: #fff;
	transition: all 0.5s;
}

.project-item:hover .hover-effect {
	opacity: 0.8;
	visibility: visible;
}


/* BLOG */

#blog {
	background-image: url(../img/blog-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

#blog .section-heading  {
	margin-bottom: 60px;
}

#blog .section-heading h4 {
	color: #fff;
}

#blog .section-heading .line-dec {
	background-color: #fff;
}

#blog .pop, .pop2, .pop3 {
	background-color: #fff;
}

.blog-item {
	cursor: pointer;
	margin-bottom: 30px;
}

.blog-item img {
	width: 100%;
	overflow: hidden;
}

.blog-item .thumb {
	position: relative;
}

.blog-item .text-content {
	position: absolute;
   	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 12px 20px;
}

.blog-item .text-content h4 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
}

.blog-item .text-content span {
	font-size: 12px;
	color: #fff;
}

.blog-item .text-content em {
	font-style: normal;
	font-weight: 700;
	margin-right: 5px;
}

.pop, .pop2, .pop3 {
	z-index: 9999;
	text-align: center;
	padding: 30px;
    display:none;
    position:fixed;
    top:25%;
    left:10.3%;
    width:80%;
    height: auto;
    box-shadow: 0px 0px 25px #7a7a7a;
}

.pop span, .pop2 span, .pop3 span {
	margin-bottom: 20px;
	cursor: pointer;
	width: 44px;
	height: 44px;
	display: inline-block;
	line-height: 44px;
	color: #fff;
	text-align: center;
	background-color: #a2cf8d;
}

.pop span:hover, .pop2 span:hover, .pop3 span:hover {
	background-color: #5c9d7d;
	transition: all 0.5s;
}



/* FUN FACTS */

#fun-facts {
	padding: 100px 0px;
	background-color: #fff;
}

#fun-facts .fact-item {
	background-color: #ffff;
	padding: 30px;
	text-align: center;
}

.fact-item .counter {
	font-size: 24px;
	font-weight: 700;
	color: #a2cf8d;
}

.fact-item span {
	display: inline-block;
	margin-top: 10px;
	font-style: 13px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #7a7a7a;
}



/* CONTACT US */

#contact .section-heading h4 {
	color: #fff;
}

#contact .section-heading .line-dec {
	background-color: #fff;
}

#contact .section-heading {
	margin-bottom: 40px;
}

#contact {
	background-image: url(../img/contact-bg.png);
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
}

#contact .map img {
	width: 100%;
	overflow: hidden;
}


				
				
				
		#contact input {
	border-radius: 0px;
	padding-left: 15px;
	font-size: 13px;
	color: #fff;
	background-color: rgba(250, 250, 250, 0.1);
	outline: none;
	border: none;
	box-shadow: none;
	line-height: 50px;
	height: 50px;
	width: 100%;
	
}
		
				
				
				
#contact textarea {
	border-radius: 0px;
	padding-left: 15px;
	font-size: 13px;
	color: #fff;
	background-color: rgba(250, 250, 250, 0.1);
	outline: none;
	border: none;
	box-shadow: none;
	width: 100%;
	
}

#contact button {
	display: inline-block;
	background-color: #cc0000;
	padding: 12px 18px;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
}

#contact button:hover {
	color: #fff;
	background-color: #4C0202;
	transition: all 0.3s;
}

.fluid1 {
 margin-left:50px;
}




/* FOOTER */

footer {
	background-color: black;
padding-top:20px;
	padding-bottom: 10px;
}

footer p {
	font-size: 12px;
	color: #fff;
	margin-bottom: 0px;
	margin-top: 15px;
}

footer em {
	font-style: normal;
	font-weight: 700;
	color: #cc0000;
}

footer ul {
	margin-top: 15px;
	float: right;
}

footer ul li {
	display: inline-block;
	margin-left: 5px;
}

footer ul li a {
	font-size: 16px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	display: inline-block;
	background-color: #cc0000;
	color: white;
	border-radius: 50%;
}

footer ul li a:hover {
	color: white;
	background-color: #4C0202;
	transition: all 0.5s;
}






/* RESPONSIVE */

@media (max-width: 767px){
	#main-nav {
		border-color: rgba(250, 250, 250, 0.95);
		margin-top: 16px;
		background-color: rgba(250, 250, 250, 0.95);
		box-shadow: 0px 5px 10px #cdcdcd;
	}
	.navbar-nav {
		padding: 0px;
		margin-top: 0px;
		margin-top: 0px;
	}
	.navbar-nav>li {
		margin-left: 0px;
		border-bottom: 1px solid #eee;
	}
	.navbar-nav>li:last-child {
		border-bottom: none;
	}
	.navbar-nav>li>a {
		line-height: 50px;
		color: #121212!important;
	}
}

@media (max-width: 768px){
	.cd-hero .slide-caption span {
		font-size: 13px;
	}

	.cd-hero .slide-caption h2 {
		font-size: 28px;
	}
}


@media (max-width: 1015px){
	.slide-caption .content-caption p {
		padding: 0 10%;
	}
	.service-item {
		margin-bottom: 30px;
	}
	#what-we-do .right-image {
		margin-top: 60px;
	}
	#blog .pop {
		top: 15%;
		height: 80%;
		overflow-y: scroll;
	}
	.fact-item {
		margin-bottom: 15px;
	}
	.map {
		margin-bottom: 45px;
	}
	footer {
		text-align: center;
	}
	footer ul {
		float: none;
	}
}